{% extends 'base.html' %}

{% block content %}




  <h1>Covid-19 NY State Data</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>


  	



  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Entries:</strong> {{ num_hospital }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>



  <!-- {% for instance in object_list %}
  <p>{{ instance.id }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.dead_daily }}</p>
  <p>{{ instance.tested_today }} - <a href='{{ instance.get_absolute_url }}'>test- <a href="{% url 'hospital-list' %}">mamadera</a>{{ instance.dead_daily }}</p>
  {% endfor %} -->
  
{% endblock %}