{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


<h1>{% block header %}Covid-19 data for NY State: </h1>{% endblock %}
<h2>{% block title %}This is the data you requested: </h2>{{ object.date_time }}{% endblock %}

<h4>Patients in hospitals: </h4> {{ object.hospital_currently }}

<h4>Patients in ICU: </h4>{{ object.ICU_currently }}

<h4>Hospitalized patients increase today: </h4>{{ object.hospital_increase }}

<h4>Death increase today: </h4>{{ object.dead_daily }}

<h4>Patients tested today: </h4>{{ object.tested_today }}

{% endblock %}

{% block sidebar %}


{% endblock %}











